*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: var(--font-famaly)

body
  background: var(--bg)

header
  background-color: var(--light-gray)
  width: var(--width-base)
  height: calc( var(--height-base) / 8  )
  top: 0
  position: fixed
  z-index: 1
  display: flex
  justify-content: center
  align-items: center
  font-size: 4em
  text-transform: uppercase

main
  background-color: var(--light)
  z-index: 10
  position: relative
  padding: 100px
  min-height: var(--height-base)
  margin-bottom: calc( var(--height-base) / 8  )
  margin-top: calc( var(--height-base) / 8  )

footer
  background-color: var(--light-gray)
  bottom: 0
  width: var(--width-base)
  height: calc( var(--height-base) / 8  )
  z-index: 1
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  font-size: 4em
  text-transform: uppercase
