html
  --primary-color-h: 0
  --primary-color-s: 0%
  --primary-color-l: 100%
  --light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l))
  --dark: hsl(var(--primary-color-h), var(--primary-color-s), calc( var(--primary-color-l) - 100% ))
  --gray: hsl(var(--primary-color-h), var(--primary-color-s), calc( var(--primary-color-l) - 34% ))
  --light-gray: hsl(var(--primary-color-h), var(--primary-color-s), calc( var(--primary-color-l) - 14% ))
  --bg: hsl(var(--primary-color-h), var(--primary-color-s), calc( var(--primary-color-l) - 2% ))
  --font-famaly: 'Roboto', sans-serif
  --height-base: 100vh
  --width-base: 100%
